* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

*:focus {
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* SITE-HEADER */
.site-header {
  border-top: 5px solid #ff7500;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-link img {
  display: block;
}

.site-header-right{
  display: flex;
  align-items: center;
}

.navigation-items {
  padding: 0;
  display: flex;
  margin: 0;
  margin-right: 32px;
  list-style: none;
}

.navigation-item {
  margin-right: 32px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.navigation-link:hover {
  color: #ff7500;
  opacity: 0.8;
}

.navigation-link:active {
  opacity: 0.6;
}

.main-link {
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  border-radius: 4px;
  background-color: #ff7500;
  color: #fff;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

/* HERO */
.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.orange-line {
  width: 80px;
  height: 3px;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  background-color: #ff7500;
}

.hero-content {
  width: 387px;
}

.hero-heading {
  font-family: 'roboto condensed', "Arial", sans-serif;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;

}

.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);

}

/* FEATURE */
.features {
  padding-top: 210px;
  padding-bottom: 210px;
}
.features-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.features-heading {
  width: 435px;
  font-family: "roboto condensed", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 72px;
  line-height: 1.2;
  color: #000000;
}

.feature-item {
  width: 340px;
  margin-right: 40px;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "roboto condensed", "Arial", sans-serif;
  font-size: 24px;
  color: #000;
}

.feature-text {
  margin: 0;
}

/* PROMO */

.promo-section {
  padding-top: 120px;
  padding-bottom: 160px;
}

.promo-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 64px;
  background-color: #252420;
  color: #fff;


}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 24px;
}

.promo-highlight {
  color: #ff7500;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text:last-child {
  margin-bottom: 0;
}

.promo-text-wrapper {
  margin-bottom: 24px;
}

.promo-img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
}

/* SITE-FOOTER */
.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer-socials {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.site-footer-socials li {
  margin-right: 16px;
}

.site-footer-socials li:last-child {
  margin-right: 0;
}

.site-footer-socials a {
  color: #252420;
  transition: opacity 0.4s ease;
}

.site-footer-socials a:hover {
  color: #ff7500;
  opacity: 0.8;
}

.site-footer-socials a:active {
  opacity: 0.6;
}

.site-footer-divider {
  height: 2px;
  border: none;
  margin-top: 40px;
  margin-bottom: 64px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  padding: 0;
  margin: 0;
  margin-right: 68px;
  width: 224px;
  list-style: none;
  line-height: 19px;
}

.site-footer-links:last-child {
  margin-right: 0;
}

.site-footer-links li {
  margin-bottom: 16px;
}

.site-footer-links li:last-child {
  margin-bottom: 0;
}

.site-footer-links a {
  display: block;
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover {
  color: #ff7500;
}

.site-footer-links a:active {
  opacity: 0.6;
}