body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
/* SITE-HEADER */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.site-header-right{
  display: flex;
  align-items: center;
}

.navigation-items {
  display: flex;
  list-style: none;
}

.navigation-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.main-link {
  font-weight: 700;
  text-decoration: none;
  background-color: #ff7500;
  color: #fff;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252420;
  color: #fff;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-content {
  width: 387px;
}

.hero-heading {
  font-family: 'roboto condensed', "Arial", sans-serif;
  font-size: 40px;
}

/* FEATURE */
.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.features-heading {
  width: 435px;
  font-family: "roboto condensed", "Arial", sans-serif;
  font-size: 72px;
  line-height: 1.2;
  color: #000000;
}

.feature-item {
  width: 340px;
}

.feature-icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);;
}

.feature-title {
  font-family: "roboto condensed", "Arial", sans-serif;
  font-size: 24px;
  color: #000;
}

.feature-text {
  color: #000;
}

/* PROMO */
.promo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

/* SITE-FOOTER */
.site-footer {
  background-color: #f8f8f8;
}

.site-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer-socials {
  display: flex;
  align-items: center;
  list-style: none;
}

.site-footer-divider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
  list-style: none;
  line-height: 19px;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}